@font-face {
  font-family: "Manrope-Bold";
  src: url("Manrope-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-ExtraBold";
  src: url("Manrope-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope-Regular";
  src: url("Manrope-Regular.ttf") format("truetype");
}