$cardH: 400;

$titleFontSize: 46;

$moreHeight: 100;
$moreHeightSmall: 100;

.moreHeight {
  height: size($moreHeight);
  @media screen and (max-width: 960px) {
    height: size($moreHeightSmall);
  }
}

.titleFontSize {
  font-size: size(46);
  @media screen and (max-width: 960px) {
    font-size: size(24);
  }
}

.box-padding {
  padding: size(120) 0 size(100);
  @media screen and (max-width: 960px) {
    padding: size(30) 0 size(20);
  }
}

.title-view {
  width: 100%;
  text-align: center;
  @extend .titleFontSize;
  line-height: size(92);
  @include fc('titleColor');
  font-family: 'Manrope-ExtraBold';
  margin-bottom: 3%;
  @media screen and (max-width: 960px) {
    font-size: size(24);
    line-height: size(60);
    // margin-bottom: 1%;
  }
}

.icon-box {
  color: #fff;
  flex-wrap: wrap;
  .item {
    width: 100%;
    height: size(80);
    margin-bottom: size(80);
    .content {
      width: 100%;
      .pic {
        width: size(50);
        height: size(50);
        // padding: size(20);
        border-radius: 100%;
        // overflow: hidden;
        margin: auto;
        img {
          width: 100%;
          display: block;
        }
      }
      .p {
        text-align: center;
        font-size: size(16);
        @include fc('titleColor');
        margin-top: size(10);
        font-family: 'Manrope-ExtraBold';
      }
    }
  }
  @media screen and (max-width: 960px) {
    .item {
      margin-bottom: size(30);
    }
  }
}

.carousel-box {
  width: 100%;
  width: 100vw;
  height: 90%;
  height: 90vh;
  min-height: 600px;
  @include bg('bannerBgColor');
  position: relative;
  .carousel-header-box {
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    z-index: 9;
  }
  .carousel-box-content {
    width:100%;
    height:100%;
    @include bg('bannerBgImg');
    background-size: contain!important;
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .carousel-bg {
    height: 100%;
    z-index: 8;
    @media screen and (max-width: 960px) {
      padding: 0;
    }
    .carousel-content {
      height: 100%;
      .el-carousel__container {
        height: 100%;
        .el-carousel__item{
          height: 100%;
          width: 100%;
          color: #fff;
          .content {
            height: 100%;
            width: 100%;
            position: relative;
            padding-top: size($headerH);
            $colW: 200;
            .carousel-col {
              width: size($colW);
              height: 80%;
              border-radius: 10px 10px 0px 0px;
              @include bg('bannerColBg');
              @include opacity('opacityBg');
              position: absolute;
              left: 0;
              bottom: 0;
              z-index: -1;
            }
            .carousel-info {
              height: 100%;
              // padding-top: size(60);
              padding-top: 10%;
              padding-left: size($colW / 2);
              text-align: left;
              z-index: 2;
              h3 {
                font-size: size(86);
                line-height: size(100);
                font-family: 'Manrope-Regular';
                .bold {
                  font-family: 'Manrope-Bold';
                }
              }
              .p1 {
                font-size: size(28);
                line-height: size(54);
                margin-bottom: size(10);
                font-family: 'Manrope-ExtraBold';
              }
              .p2 {
                font-size: size(22);
                line-height: size(30);
                font-family: 'Manrope-Regular';
              }
              .carousel-btn {
                width: 100%;
                padding: size(30) 0;
              }
            }
            @media screen and (max-width: 960px) {
              .carousel-col {
                width: size($colW );
                height: 85%;
              }
              .carousel-info {
                padding-left: size($colW / 4);
                padding-top: size(20);
                padding-top: 15%;
                h3 {
                  font-size: size(32);
                  line-height: size(48);
                }
                .p1,.p2 {
                  font-size: size(22);
                  line-height: size(42);
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.index-box {
  width: 100%;
  height: 100%;
  .bridgeData-box {
    height: size($moreHeight);
    position: absolute;
    left:0;
    right: 0;
    bottom: size(-50);
    z-index: 9;
    .bridgeData-list {
      height: 100%;
      color: #fff;
      @include bg('cardBgColor');
      @include shadow;
      border-radius: 10px;
      .item {
        padding: size(10) size(15) size(20);
        font-family: 'Manrope-ExtraBold';
        h3 {
          font-size: size(16);
          line-height: size(32);
          text-align: center;
          @include fc('titleColor');
          margin-bottom: size(8);
        }
        p {
          font-size: size(36);
          line-height: size(36);
          text-align: center;
          color: #9649F5;
        }
      }
    }
    @media screen and (max-width: 960px) {
      bottom: size(0);
      height: size(80);
      .bridgeData-list {
        .item {
          h3 {
            font-size: size(14);
            line-height: size(21);
          }
          p {
            font-size: size(24);
            line-height: size(24);
          }
        }
      }
    }
  }
  .mul-banner-box {
    width: 100%;
    // height: 100vh;
    &.anycall {
      @include bg('anycallbg');
      padding: 80px 0 20px;
      .img-box {
        width: 100%;
        img {
          display: block;
        }
        .img1 {
          width: 40%;
        }
        .img2 {
          width: 60%;
          opacity: .5;
        }
      }
    }
    &.fastmpc {
      @include bg('fastmpcbg');
      padding: 100px 0 100px;
      .img-box {
        width: 100%;
        img {
          display: block;
        }
        .img1 {
          width: 60%;
          opacity: .8;
        }
        .img2 {
          width: 40%;
        }
      }
    }

  }
  .mul-introduce-box {
    padding: size(120) 0 size(100);
    @include bg('contentBgColor1');
    position: relative;
    @media screen and (max-width: 960px) {
      padding: size(100) 0 size(60);
    }
    .mul-introduce-title {
      @extend .title-view;
    }
    .mul-introduce-list {
      color: #fff;
      flex-wrap: wrap;
      overflow: hidden;
      padding: size(12);
      .el-col {
        padding-top: size(80);
        &:nth-child(2) {
          padding-top: 0;
        }
        @media screen and (max-width: 960px) {
          padding-top: size(0);
          margin-bottom: size(20);
          &:last-child {
            margin-bottom: 0;
          }
        }
        .item {
          width: 100%;
          .content {
            width: 100%;
            // height: size(360);
            @include bg('cardBgColor');
            @include shadow;
            border-radius: 10px;
            padding: size(50);
            .pic {
              width: size(72);
              height: size(72);
              margin: auto;
              img {
                max-width: 100%;
                max-height: 100%;
                display: block;
              }
            }
            .h3 {
              font-family: 'Manrope-ExtraBold';
              font-size: size(22);
              @include fc('titleColor');
              text-align: center;
              margin: size(30) auto;
            }
            .p {
              text-align: center;
              font-size: size(16);
              @include fc('titleColor');
              line-height: size(32);
              font-family: 'Manrope-Regular';
            }
          }
        }
      }
    }
    
  }
  .chainData-box {
    @extend .box-padding;
    @include bg('contentBgColor2');
    .chainData-title {
      @extend .title-view;
    }
    .chainData-list {
      @extend .icon-box;
    }
  }
  .tokenData-box {
    @extend .box-padding;
    @include bg('contentBgColor2');
    position: relative;
    .tokenData-title {
      @extend .title-view;
    }
    .tokenData-list {
      @extend .icon-box;
    }
    .token-More {
      font-size: size(16);
      @include fc('titleColor');
      font-family: 'Manrope-Regular';
      text-align: center;
      margin-bottom: size(50);
      .span {
        font-weight: bold;
        color: #FF5CB1;
      }
    }
  }
  .leagueData-box {
    @include bg('contentBgColor1');
    padding: size(50) 0;
    .leagueData-content {
      width: 100%;
      padding-left: size(30);
      @media screen and (max-width: 960px) {
        padding-left: size(0);
      }
    }
    .intro {
      width: 100%;
      height: 286px;
      @include bg('alliancesBgColor');
      box-shadow: 0px 0px 12px #00000040;
      border-radius: 10px;
      // @extend .titleFontSize;
      font-size: size(46);
      color: #fff;
      line-height: size(66);
      padding: size(50);
      font-family: 'Manrope-ExtraBold';
      @media screen and (max-width: 960px) {
        font-size: size(36);
        line-height: size(56);
      }
    }
    .steps-box {
      height: size(282);
      margin-top: size(50);
      position: relative;
      padding-left: size(50);
      .step {
        width: 100%;
        @extend .flex-sc;
        position: relative;
        @include fc('titleColor');
        font-family: 'Manrope-ExtraBold';
        margin-bottom: size(45);
        $iconH: 32;
        .icon {
          color: #25ED9F;
          font-size: size($iconH);
          line-height: size($iconH);
          margin-right: size(20);
        }
        .line {
          width: 0;
          height: size(50);
          border: 1px solid #25ED9F;
          position: absolute;
          top: size($iconH - 2);
          left: size($iconH / 2);
        }
      }
    }
    .leagueData-title {
      @extend .title-view;
      text-align: left;
      @media screen and (max-width: 960px) {
        text-align: center;
        margin-top: size(20);
      }
    }
    .leagueData-list {
      color: #fff;
      .item {
        margin-bottom: size(70);
        display: block;
        .content {
          width: 100%;
          @extend .flex-sc;
          .pic {
            width: size(50);
            height: size(50);
            border-radius: 100%;
            overflow: hidden;
            img {
              height: 100%;
              display: block;
            }
          }
          .p {
            // @extend .flex-sc;
            // flex-wrap: wrap;
            font-size: size(18);
            @include fc('titleColor');
            font-family: 'Manrope-ExtraBold';
            margin-left: size(20);
            word-wrap:break-word;
            // height: size(50);
          }
          @media screen and (max-width: 960px) {
            justify-content: center;
            flex-wrap: wrap;
            .p {
              width: 100%;
              text-align: center;
              margin-left: size(0);
              margin-top: size(10);
              height: size(50);
            }
          }
        }
      }
    }
  }
}

.learn-more-btn {
  // @extend .moreHeight;
  $btn-height: 70;
  height: size($btn-height);
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: size(-1 * $btn-height / 2);
  @extend .flex-c;
  padding: 0 size(15);
  .btn-more {
    margin: auto;
    height: size($btn-height);
    width: 100%;
    max-width: size(470);
    background: transparent linear-gradient(90deg, #9649F5 0%, #964CF5 24%, #9857F6 46%, #9C69F7 67%, #A183F9 87%, #A698FB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 12px #00000040;
    border-radius: 10px;
    font-size: size(36);
    font-family: 'Manrope-ExtraBold';
    color: #fff;
    line-height: 32px;
    border: none;
    span{
      @extend .flex-c;
    }
    .icon {
      display: inline-block;
      width: 19px;
      height: 32px;
      margin-left: 10%;
      img {
        display: block;
        height: 100%;
      }
    }
  }
  @media screen and (max-width: 960px) {
    bottom: size(-1 * $btn-height / 2);
    .btn-more {
      height: size(50);
      font-size: size(18);
      .icon {
        height: 18px;
      }
    }
  }
}