$cardH: 400;
.carousel-box {
  width: 100%;
  height: 100%;
  width: 100vw;
  height: 100vh;
  // background: rgb(21, 26, 47);
  background: url('~@/assets/img/bg/banner.png') no-repeat center;
  background-size: cover;
  position: relative;
  .carousel-bg {
    height: 85%;
    .carousel-content {
      // height: size($cardH);
      height: 100%;
      .el-carousel__container {
        height: 100%;
        .el-carousel__item{
          // padding: size(150) 0;
          height: 100%;
          color: #fff;
          .content {
            h3 {
              font-size: size(48);
              line-height: size(72);
              text-align: center;
              margin-bottom: size(30);
            }
            p {
              font-size: size(36);
              line-height: size(54);
              text-align: center;
            }
            @media screen and (max-width: 960px) {
              h3 {
                font-size: size(24);
                line-height: size(36);
              }
              p {
                font-size: size(16);
                line-height: size(24);
              }
            }
          }
        }
      }
    }
    .carousel-btn {
      width: 100%;
      padding: size(30) 0;
    }
  }
}
.index-box {
  width: 100%;
  height: 100%;
  .bridgeData-box {
    padding: size(30) 0;
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    .bridgeData-title {
      width: 100%;
      text-align: center;
      font-size: size(30);
      font-weight: bold;
      margin-bottom: size(30);
      color: #fff;
    }
    .bridgeData-list {
      color: #fff;
      .item {
        padding: size(20) size(15);
        h3 {
          font-size: size(14);
          line-height: size(45);
          text-align: center;
        }
        p {
          font-size: size(30);
          line-height: size(21);
          text-align: center;
        }
      }
    }
  }
  .chainData-box {
    padding: 5% 0;
    width: 100%;
    min-height: 100%;
    width: 100vw;
    min-height: 100vh;
    // background: rgb(21, 26, 47);
    background: url('~@/assets/img/bg/support-chains.svg') no-repeat center #18171C;
    background-size: cover;
    .chainData-title {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: size(88);
      line-height: size(132);
      color: #fff;
      margin-bottom: 5%;
    }
    .chainData-list {
      color: #fff;
      flex-wrap: wrap;
      .item {
        width: 100%;
        height: size(80);
        margin-bottom: size(80);
        .content {
          width: 100%;
          .pic {
            width: size(50);
            height: size(50);
            // padding: size(20);
            border-radius: 100%;
            overflow: hidden;
            margin: auto;
            img {
              width: 100%;
              display: block;
            }
          }
          .p {
            text-align: center;
            font-size: size(18);
            color: #fff;
            margin-top: size(10);
          }
        }
      }
    }
  }
  .tokenData-box {
    padding: 5% 0;
    width: 100%;
    min-height: 100%;
    width: 100vw;
    min-height: 100vh;
    // background: rgb(21, 26, 47);
    background: url('~@/assets/img/bg/support-tokens.svg') no-repeat center #18171C;
    background-size: cover;
    .tokenData-title {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: size(88);
      line-height: size(132);
      color: #fff;
      margin-bottom: 5%;
    }
    .tokenData-list {
      color: #fff;
      flex-wrap: wrap;
      .item {
        width: 100%;
        height: size(80);
        margin-bottom: size(80);
        .content {
          width: 100%;
          .pic {
            width: size(50);
            height: size(50);
            // padding: size(20);
            border-radius: 100%;
            overflow: hidden;
            margin: auto;
            img {
              width: 100%;
              display: block;
            }
          }
          .p {
            text-align: center;
            font-size: size(18);
            color: #fff;
            margin-top: size(10);
          }
        }
      }
    }
  }
  .leagueData-box {
    padding: 10% 0;
    width: 100%;
    min-height: 100%;
    width: 100vw;
    min-height: 100vh;
    // background: rgb(21, 26, 47);
    background: url('~@/assets/img/bg/cross-chain-allinces.svg') no-repeat center #18171C;
    background-size: cover;
    .leagueData-title {
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: size(88);
      line-height: size(132);
      color: #fff;
      margin-bottom: 5%;
    }
    .leagueData-list {
      color: #fff;
      .item {
        width: 25%;
        height: size(80);
        margin-bottom: size(80);
        .content {
          width: 100%;
          .pic {
            width: size(50);
            height: size(50);
            // padding: size(20);
            border-radius: 100%;
            overflow: hidden;
            margin: auto;
            img {
              width: 100%;
              display: block;
            }
          }
          .p {
            text-align: center;
            font-size: size(18);
            color: #fff;
            margin-top: size(10);
          }
        }
      }
    }
  }
}